.modalStyles {
    position: relative;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1f1f3a;
    /* padding: 60px; */
    height: 500px;
    width: 450px;
    z-index: 1000;
    border-radius: 16px;
}
.overlay_style {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
}

.closeModal {
    position: absolute;
    position: fixed;
    top: 5px;
    left: 420px;
    background-color: #1f1f3a;
    border: none;
    cursor: pointer;
   
    
}
.fa-xmark {
    font-size: 25px;
    height: 10px;
    background-color: #1f1f3a;
}

.off-scroll {
    overflow: hidden;
    padding-right: 17px; 
}

